@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

button,svg{
  cursor: pointer;
}

/*ANIMACIONES*/

.efectoReveal {
  animation-name: efectoReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes efectoReveal {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.efectoRevealOut {
  animation-name: efectoRevealOut;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  overflow: hidden
}

@keyframes efectoRevealOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}


@keyframes revealFromLeft {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.title-reveal {
  animation: revealFromLeft 1s ease-out forwards;
}


.leftReveal {
  animation-name: leftReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


@keyframes leftReveal {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


/* efecto borde que desaparece*/

.hover-border {
  position: relative;
  display: inline-block;
  color: white;
  border-bottom: 0px solid white; /* Borde inicial */
  overflow: hidden; /* Ocultar contenido extra */
}

.hover-border::after {
  content: 'xxxx'; /* Elemento decorativo */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Borde completo inicialmente */
  height: 1.5px;
  background: white;
  transform-origin: right; /* Punto de inicio del transform */
  transform: scaleX(1); /* Escala completa al inicio */
  transition: transform 0.3s ease-out; /* Transición suave */
}

.hover-border:hover::after {
  transform: scaleX(0); /* Escala a 0 para ocultar */
}